body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

button {
    padding: 5px 10px;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 6px 12px;
}
